*{
    margin: 0;
    padding: 0;
}
.heading{
    margin-left: 10px;
}
.heading img{
    width: 100%;
}
.heading-title {
    font-style: oblique;
    font-weight: 700;
    font-size: 65px;
    color: #ff29a7;
    text-shadow: 9px -9px 3px pink;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(199, 216, 184); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9eff17; 
  }
.head-bar{
    overflow: auto;
}
.sub-heading{
    margin-block: 50px;
    margin-inline: 20px;
    font-size: x-large;
    font-weight: 500;
}
.sub-heading i{
    background-color: #48b858;
    height: 50px;
}
.product{
    gap: 40px;
    margin-bottom: 20px;
}
.product .child {
    padding: 10px;
    width: 16em;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 8px;
    transition: box-shadow .4s linear;
}
.product .child:hover{
    box-shadow: 0px 10px 39px 0px black;
}
.product .child img{
    width: 15em;
    height: 17em;
    object-fit: contain;

}
.product-text{
    color: rgb(190, 197, 196);
    text-align: center;
}
.product .prize{
    font-weight: 800;
    font-size: x-large;
}
.product .delivery span{
    background-color: rgb(242, 250, 226);
    border-radius: 10px;
    padding: 2px;
}
.product .rate span{
    font-size: x-large;
    background-color: #48b858;
    color: white;
    padding-inline: 16px;
    border-radius: 18px;
}

.footer {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(0 0 0 / 80%);
    color: grey;
    font-size: 14px;
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: underline;
    color: rgb(67, 70, 255);
}